@font-face {
    font-family: odinfont;
    src: url(Roboto-Regular.ttf);
}

*{
    font-family: odinfont;
}



.webpage {
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
}

/*----------- Sidebar-----------*/

a{

    color:white;
    padding:1em;
    font-size: 20px;
    line-height: 300%;

}

.sidebar{
    grid-area: sidebar;
    background-color: rgb(23, 172, 230);
}

.top-bar{
    grid-area: header;
    padding:2em;
    box-shadow: 8px 8px 16px 2px #1b3e59
}

.sidelogo{
    display:flex;
    color:white;
    letter-spacing: 1px;
}

/*-----------Content-----------*/


.container {
    background-color: rgba(172, 13, 13, 0.088);
}

.links {
    display:flex;
    flex-direction: column;
    line-height: 200%;
    justify-content: center;

}

input {
    background-color: rgba(172, 13, 13, 0.088);

}

.trending {
    grid-area: trending;
    background-color:white;
}

.projects{
    grid-area: projects;
}

.projects > div {
    background-color: white;
    border-radius: 15px;
    box-shadow: 8px 8px 16px 2px #1b3e59;
    min-width: 300px;
    max-width: 400px;
    min-height:240px;
    font-family: odinfont;
}

.right-side > div {
    background-color: white;
    border-radius: 15px;
    box-shadow: 8px 8px 16px 2px #1b3e59
}
